<div class="center-screen">
	<mat-card class="card">
    <mat-card-title class="card-title">Objetivos</mat-card-title>
		<mat-card-content class="card-content">
      <form class="form container">
        <mat-form-field appearance="standard">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="this.nome" name="valor"/>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Valor</mat-label>
          <input matInput placeholder="R$" [(ngModel)]="this.valor"  name="valor"/>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="this.data"  name="data">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="form-actions">
					<button mat-raised-button (click)='this.submit()' class="login-button c-yellow">
						Salvar
					</button>
        </div>
        <br>
        <div style="max-height: 30px;">
          <mat-list class="list-container" >
            <mat-list-item *ngFor="let item of list">
              <mat-card>
                <div class="d-flex">
                  <div class="mr-auto p-1">
                    <h5><b>Nome:</b> <br>{{item.description}}</h5>
                  </div>
                  <div class="mr-auto p-1">
                    <h5><b>Valor:</b><br> {{item.value}}</h5>
                  </div>
                  <div class="mr-auto p-1">
                    <h5><b>Data Final:</b><br> {{item.finishDate.split('T')[0]}}</h5>
                  </div>
                  <div class="p-1">
                    <button (click)='this.delete(item.id)' mat-button>Excluir</button>
                  </div>
                </div>
              </mat-card>
            </mat-list-item>
          </mat-list>
        </div>
      </form>
		</mat-card-content>
	</mat-card>
</div>
