<div class="center-screen">
	<mat-card class="card">
    <mat-card-title class="card-title">Cadastro</mat-card-title>
		<mat-button-toggle-group>
      <mat-button-toggle id="spending-button" (click)='this.setSpendingForm()' class="{{this.spendingButtonStyle}}" value="despesa">Despesa</mat-button-toggle>
      <mat-button-toggle id="budget-button" (click)='this.setBudgetForm()' class="{{this.budgetButtonStyle}}" value="receita">Receita</mat-button-toggle>
    </mat-button-toggle-group>
		<mat-card-content class="card-content">
      <form class="form container">
        <br>
        <mat-form-field appearance="standard">
          <mat-label>Valor</mat-label>
          <input matInput placeholder="R$" [(ngModel)]="this.valor"  name="valor"/>
        </mat-form-field>
        <br>
        <mat-form-field id="category-field" appearance="standard">
          <mat-label >Categoria</mat-label>
          <mat-select [(ngModel)]="this.categoria"  name="categoria">
            <mat-option *ngFor="let item of list" [value]="item.id">
              {{item.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field appearance="standard">
          <mat-label>Data</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="this.data"  name="data">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Descrição</mat-label>
          <textarea matInput [(ngModel)]="this.descricao"  name="descricao"></textarea>
        </mat-form-field>
        <div class="form-actions">
					<button (click)='this.submit()' mat-raised-button class="login-button c-yellow">
						Salvar
					</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
</div>
