<div class="body">
  <div class="container">
    <div mat-subheader class="list-container-header">Informações gerais do mês de {{monthName}}</div>
    <div class="row">
      <div class="col-md">
        <mat-card class="card mx-auto receita">
          <mat-card-header>
            <div class="row">
              <div class="col-md">
                <mat-icon aria-hidden="false" aria-label="icon icon-primary">local_atm</mat-icon>
              </div>
              <div class="col-md">
                <h2>Receitas</h2>
              </div>
            </div>
          </mat-card-header>

          <mat-card-content>
            <div class="col-sm-auto preco-receita">
              <h1>+ R$ {{indicators.totalProfits}}</h1>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>DETALHES</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-md">
        <mat-card class="card mx-auto despesa">
          <mat-card-header>
            <div class="row">
              <div class="col-md">
                <mat-icon aria-hidden="false" aria-label="icon icon-primary">shopping_cart</mat-icon>
              </div>
              <div class="col-md">
                <h2>Despesas</h2>
              </div>
            </div>
          </mat-card-header>

          <mat-card-content>
            <div class="col-sm-auto preco-despesa">
              <h1>- R$ {{indicators.totalExpenses}}</h1>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>DETALHES</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <div style="height: 50px"></div>

    <mat-card>
      <div class="d-flex">
        <div class="mr-auto p-2">
          <h2>Saldo total: <span class="saldo-total">+ R$ {{indicators.totalPeriod}}</span></h2>
        </div>
        <div class="p-2">
          <button mat-button (click)="openDialog()">CONFERIR CÁLCULO</button>
        </div>
      </div>
    </mat-card>

    <mat-list class="list-container">
      <div mat-subheader class="list-container-header">Entradas no mês</div>
      <mat-list-item *ngFor="let item of list">
        <mat-card>
          <div class="d-flex">
            <div class="mr-auto p-2">
              <h2>{{item.name}}: <span class="{{item.type == 'PROFIT' ? 'preco-receita' : 'preco-despesa'}}">
                {{item.type == 'PROFIT' ? '+' : '-'}} R$ {{item.value}}</span></h2>
            </div>
            <div class="p-2">
              <button (click)='this.openExpenses(item)' mat-button>Editar entrada</button>
            </div>
            <div class="p-2">
              <button (click)='this.delete()' mat-button>Excluir entrada</button>
            </div>
          </div>
        </mat-card>
      </mat-list-item>
    </mat-list>

  </div>
</div>
